/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer {
    width: 100%;
    max-width: 1200px;
    padding: 40px; 
   justify-content: center;
    width:100%;
}
body {
    font-family: open Sans, sans-serif;
    background-color:rgb(246 245 243) ;
     display:block;
} 


img{
    max-width:100%;
    display:block;
}
a{
    text-decoration:none;
    color:inherit;
}
ul{
    list-style-type:none;
    color: black;
}
p{
 
}
/*#Utils*/
.category{
   
    margin:0 auto;
    padding:0 1rem;
    width:1000px;
    max-width:100%;
    
 }
 .shadow{
     box-shadow:4px 4px 14px 0px #555;
 }
 /*header*/
header {
    text-align: center ;
    padding: 1rem;

    background-color:white;
    padding:10px;
    justify-content:space-between;
   
}
.logo-text {
    color: #f39c12;
    font-size: 3rem;
   font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

h1{
    color: #5b3c8b;
}
.category{
    color: #888;
    
}
.play-button {
    position: absolute;
    top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 width: 60px;
height: 60px;
background-color: rgba(255, 0, 0, 0.7);
border-radius: 60%;
display: flex;
justify-content: center;
 align-items: center;
 }
.play-button::after {
 content: "";
 border-style: solid;
 border-width: 15px 0 15px 25px;
 border-color: transparent transparent transparent white;
}
 .info-box {
    background-color: #f9f9f9;
     padding: 15px;
    margin-top: 20px;
 }
 .info-box h3 {
     margin-top: 0;
 }
/* section social*/
 .social-list{
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding:30px;
 }
 .social-label{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
}
.fa-facebook{
 color:blue ;
}
.fa-instagram{
color:violet
}
.fa-youtube{
color: red;
}
.fa-pinterest{
color:red
}
.fa-twitter{
color:lightskyblue
}
.social-name{
    display:none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}


.cooking-classes {
    display: flex;
     align-items: center;
      left: 20px;
    
    margin-top: 20px;
 }
 .cooking-classes-text {
     color: white;
     font-weight: bold;
 }
        
.presentation {
    margin-top: 20px;
}
.presentation img {
     float: left;
    margin-right: 15px;
     max-width: 350px;
 }
/*FOOTER*/
 footer {
    background-color: #7C69A4;
      color: white;
     padding: 10px;
     text-align: left;
     width: 100%;
     justify-content: space-between;
     display: flex;
     height:70px;
     font-size: 10px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
     align-items: center;
 }
        
footer .boolean-container a {
     display: inline-block;
     color: white;
     text-decoration: none;
    font-size: 20px;
    row:10px
 }
.descrip{
     display:flex;
     justify-content:flex-end;
     padding: 10px;
     margin-right: 10px; 
     gap: 10px;
 }

.descrip a:last-child {
    margin-right: 0;
}
 
 
 /*#section preview recipe*/
.suffix-title{
    display:none;
}


.card-media{
 background-color: black;
 display:flex;
flex-direction: column;
 justify-content: center;
}
.video-iframe{
    display:block;
    width:100%;
   aspect-ratio: 16/9;
}

.card-title{
    margin-bottom:2rem;
    font-size: 1rem;
    color: black;
}

.recipe-info{
    padding:1rem;
     background-color: white;
     height: auto;
 }
 .recipe-info-list > li{
    margin-bottom:1rem;
    font-size:1rem;
}
 .recipe-info-list > li:last-child{
   margin-bottom:0;
 }
 
 .section-footer{
      
      align-items: center;
 }


 /*Mediaquery*/
 /*Mobile*/
 @media screen and (min-width:576px) {
    
    .social-name{
        display:none;
    }
    .card-media{
        flex-direction: column;
    }
    .suffix-title{
        display:none;
    }
    /*#Utils*/
    .container{
        padding:0 2rem;
    }
    /*#Header*/
    .page-header{
        text-align:left;
    }
 }
 
 /*Tablet*/
 @media screen and (min-width:768px) {
    
    /*#section preview recipe*/
    
    .suffix-title{
        display:inline;
    }
    
      .card-title{
        padding:1rem;
      }
      .recipe-info-list > li{
        display:inline-block;
        padding:1rem;
        margin-bottom:0;
    }
    /*section social*/
    .social-list{
        gap:2rem ;
    }
    .social-label{
        width: auto;
        flex-grow:1;
        border-radius: 1rem;
    }
 }
 /*Desktop*/
 @media screen and (min-width:992px){
    .footer-class{
        flex-direction: row;
        align-items: stretch;
    }
    .social-name{
        display:inline;
    }
    .card-media{
        flex-direction: row;
    }
    /*section preview recipe*/
    .card{

    display:flex;
}
.recipe-info{
    width: 40%;
}
.card-title{
    padding:0;
}
.recipe-info-list > li{
    display:block;
    padding:0;
    margin-bottom:1rem;
}
.presentation{
    margin-bottom: 15px;
}

 }